<div *ngIf="book">
    <mat-card class="book-card">
        <mat-card-header>
            <mat-card-title>{{ book.title }}</mat-card-title>
            <mat-card-subtitle *ngFor="let author of book.authors">{{ author.name }}</mat-card-subtitle>
        </mat-card-header>
        <div class="image">
            <img *ngIf="book.cover" src="{{ book.cover.large }}" alt="Cover">
        </div>
        <mat-card-content>
            <p>{{ book.subtitle }}</p>
            <p>{{ book.notes }}</p>
        </mat-card-content>
    </mat-card>
</div>
