// Colors
$purple: #3F51B5;
$blue: #3498db;
$grey: #cccccc;
$white: #ffffff;

// Navigation
$search-toolbar-bg-color: $white;
$search-toolbar-text-color: $purple;

// Icons
$icon-width: 30px;
$icon-height: 30px;
