<mat-card>
    <mat-card-title>Welcome!</mat-card-title>
    <mat-card-subtitle>App for New York Times bestsellers lists</mat-card-subtitle>
    <mat-card-content>
        <p>
            This app utilises New York Times books
            <a href="https://developer.nytimes.com/books_api.json">API</a>
            for getting weekly and monthly bestsellers lists.
        </p>
        <p>
            For displaying information about specific book Open Library Books
            <a href="https://openlibrary.org/dev/docs/api/books">API</a>
            is used.
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>Disclaimer</mat-card-title>
    <mat-card-content>
        <p>
            This particular instance of the app is a regular Angular app,
            without any special modifications for PWA improvements.
        </p>
        <p>
            It is a <strong>master</strong> branch build in this repository:
            <a href="https://github.com/EdgarsJoja/books" rel="noopener" target="_blank">https://github.com/EdgarsJoja/books</a>
        </p>
    </mat-card-content>
</mat-card>
